*{
	font-family: montserrat;
}
.usd_star::before{
	content:url('../images/star.png');
}
.menu_links a:hover{
	color: #F5B703 !important;
}
.row_image{
	border-radius: 15px;
}
.see_more a{
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: bold;
	line-height: 120%;
	font-size: 12px;
	padding: 10px 15px;
	background-color: #F5B703;
	border-radius: 25px;
}
.see_more a:hover{
	background-color: #E3E3E3;
}
.row_text{
	font-size: 14px;
}
.footer_menu a{
	text-align: center;
	text-decoration: none;
	color: #626777;
	line-height: 22px;
	font-size: 14px;
}
.footer_menu a:hover{
	color: #F5B703;
}
.footer_logo{
	width: 130px;
}
.footer_logo_text{
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}
.text_color{
	color: #626777;
}
.fa a{
	text-align: center;
	text-decoration: none;
}
.fa{
	padding:5px;
	font-size: 22px;
	width: 25px;
	line-height: 200;
	text-align: center;
	text-decoration: none;
	margin: 0px 0px 8px 8px;
	border-radius: 100%;
	background: grey;
	color: white !important;
	margin-left: 0;
}
.fa:hover{
    opacity: 0.7;
	color: orange;
}
.copyright{
	font-size: 12px;
}
.row_main{
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 15px;
}
.map_video a{
	position: relative;
	padding-right: 20px;
	margin-right: 25px;
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	font-size: 16px;
}
.map_video a:after{
	content:" ";
	position: absolute;
	right: 0;
	display: inline-block;
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
}